@charset "utf-8";

/* Colors */

:root{
	--black: #000;
	--orange:#E7820E;
	--orange-2:#EF6C15;
	--orange-3:#F7A649;
	--yellow:#FFF480;
	--white: #fff;
}

.black {
	color:#000000;
}

.orange-1 {
	color:#E7820E;
}

.orange-2 {
	color:#EF6C15;
}

.orange-3 {
	color:#F7A649;
}

.white {
	color:#ffffff;
}

.lt-yellow {
	color:#FFF480;
}
