@charset "utf-8";

.css-2025 {

	/* Spacing */
	.pl-2 {
		padding-left:2rem;
	}

	.pr-2 {
		padding-right:2rem;
	}

	.pt-3 {
		padding-top:3rem;
	}

	@media (max-width:999px) {
		.pt-3 {
			padding-top:2rem;
		}
	}

	@media (max-width:999px) {
		.pt-xs-5 {
			padding-top:2.5rem;
		}
	}

	.pt-5 {
		padding-top:5rem;
	}

	@media (max-width:999px) {
		.pt-5 {
			padding-top:2.5rem;
		}
	}

	.pt-7 {
		padding-top:7rem;
	}

	@media (max-width:999px) {
		.pt-7 {
			padding-top:3.5rem;
		}
	}

	.pb-1 {
		padding-bottom:1rem;
	}

	.pb-2 {
		padding-bottom:2rem;
	}

	@media (max-width:999px) {
		.pb-2 {
			padding-bottom:1rem;
		}
	}

	.pb-3 {
		padding-bottom:3rem;
	}

	@media (max-width:999px) {
		.pb-3 {
			padding-bottom:1.75rem;
		}
	}


	.pb-10 {
		padding-bottom:10rem;
	}

	@media (max-width:999px) {
		.pb-10 {
			padding-bottom:6rem;
		}
}

.m-0 {
	margin:0;
}

.mr-1 {
	margin-right:1rem;
}

.ml-2 {
	margin-left:2rem;
}

@media (max-width:999px) {
	.ml-xs-0 {
		margin-left:0;
	}
}

.mr-half {
	margin-right:.5rem;
}

.mt-5 {
	margin-top:5rem;
}

.mb-half {
	margin-bottom:.5rem;
}

.mb-1 {
	margin-bottom:1rem;
};

.mx-auto {
	margin:inherit auto;
}

}